@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mfdsi9');
  src:  url('fonts/icomoon.eot?mfdsi9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mfdsi9') format('truetype'),
    url('fonts/icomoon.woff?mfdsi9') format('woff'),
    url('fonts/icomoon.svg?mfdsi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dash:before {
  content: "\e900";
  color: #fff;
}
.icon-facebook:before {
  content: "\e901";
  color: #fff;
}
.icon-lamahead .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.icon-lamahead .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(20, 169, 204);
}
.icon-lamahead .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(3, 155, 230);
}
.icon-lamahead .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(3, 155, 230);
}
.icon-logo .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-logo .path2:before {
  content: "\e907";
  margin-left: -3.0498046875em;
  color: rgb(20, 169, 204);
}
.icon-logo .path3:before {
  content: "\e908";
  margin-left: -3.0498046875em;
  color: rgb(3, 155, 230);
}
.icon-logo .path4:before {
  content: "\e909";
  margin-left: -3.0498046875em;
  color: rgb(3, 155, 230);
}
.icon-logo .path5:before {
  content: "\e90a";
  margin-left: -3.0498046875em;
  color: rgb(3, 151, 61);
}
.icon-logo .path6:before {
  content: "\e90b";
  margin-left: -3.0498046875em;
  color: rgb(3, 151, 61);
}
.icon-logo .path7:before {
  content: "\e90c";
  margin-left: -3.0498046875em;
  color: rgb(3, 151, 61);
}
.icon-logo .path8:before {
  content: "\e90d";
  margin-left: -3.0498046875em;
  color: rgb(3, 151, 61);
}
.icon-logo .path9:before {
  content: "\e90e";
  margin-left: -3.0498046875em;
  color: rgb(3, 151, 61);
}
.icon-money:before {
  content: "\e90f";
  color: #03973d;
}
.icon-newwindow:before {
  content: "\e910";
  color: #039be6;
}
.icon-rss:before {
  content: "\e911";
  color: #fff;
}
.icon-stats:before {
  content: "\e912";
  color: #03973d;
}
.icon-student:before {
  content: "\e913";
  color: #03973d;
}
.icon-twitter:before {
  content: "\e914";
  color: #fff;
}
.icon-vk:before {
  content: "\e915";
  color: #fff;
}
.icon-youtube:before {
  content: "\e916";
  color: #fff;
}
